div{
	width: 800px;
	border: 10px solid #c6cb8e;
}	

.heading{
	text-align: center;
	color: red;
	font-weight: 700;
}

#heading2{
	border-bottom: 5px solid blue;
}

#heading3{
	background-color: blanchedalmond;
	color: green;
}

.content{
	background-color: lightblue;
}

#content1{
	border-left: 8px solid red;
	color: blue;
}

#content3{
	border: 5px solid #c247cd;
	color: red;
}