*{box-sizing: border-box;}

.carousel-inner img{
  width: 100%;
  height: 700px;

}

.carousel-caption{
  position: absolute;
  top: 50%;
}

.carousel-caption h1{
  font-size: 500%;
  font-weight: 800;
  transform: uppercase;
  text-shadow: 1px 1px 15px #F6A113;
}

.carousel-caption h3{
  font-size: 200%;
  color: #b3f820;
  font-weight: 700;
  padding-bottom: 1rem;
}

.btn-lg{
  background-color: #F6A113;
  margin: 10px;
}

.carousel-control-next, .carousel-control-prev { width: 5%;}

.nav-link{font-size: 20px; padding: 5px;font-weight: 700; }
.nav-item{padding-right: 20px;}

.myNav{background-color:#b3f820;padding: 10px;padding-right: 40px;}

.dropdown-menu{background-color:#b3f820;}

.dropdown
{background-color: orange;padding: 10px;border-radius: 10px;}

#dropdownMenuLink{color: white; text-decoration: none;font-size: 16px;font-weight: 700; }


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }


#belowSlider{background-color:#b3f820; opacity: 0.8; font-size: 20px;color: black;padding: 20px;}

.divBtn{float: right; margin-right: 30px; text-decoration: none; border:2px solid grey;padding: 5px 25px 8px 25px;
   border-radius: 10px; font-size: 20px; color: grey; margin-top: 6px; margin-left: 20px}

.divBtn:hover{background-color: #F6A113; color: white;}   

.myBlock{clear: both; margin: 20px; padding: 50px 50px 20px 50px;}

.blk{width: 1000px;margin: auto; text-align: center;}

.blkHeading{font-size: 60px; padding: 20px; border-bottom: 1px solid black;}

.someText{font-size: 20px;color: black; padding: 25px;}


.blkIcons, .flexBlk, .emojiBlock, .footerBlk
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   padding: 30px;

}

.carrotIcon{color: orange; font-size: 70px;}
.heartIcon{color: #63be63; font-size: 70px;}
.coinIcon{color: #a5742a; font-size: 70px;}

.myIconBlk{padding: 50px 50px 20px 50px; text-align: center;}

.leftBlock, .rightBlock{flex:0 1 50%;padding: 40px;}

.fun{width: 100%;background-color:#b3f820 ;}

.imageBlk{padding-top: 80px; padding-bottom: 40px; text-align: center;}

.myEmoji{flex: 20%;}

.myImg,.fsection{flex: 30%; padding: 10px;}

hr{width: 90%;}
.light{border-top: 1px solid #d5d5d5;}

.rightImg{border: 10px solid lightgrey; border-radius: 10px;}

.BlockBtn{background-color: #F6A113; color: white;padding:10px;margin-top: 20px;border-radius: 10px;}



.fb{color: darkblue; font-size: 50px;}
.tweet{color: #1DA1F2; font-size: 50px;}
.gp{color: #ec2222; font-size: 50px;}
.ins{color: orange; font-size: 50px;}
.yt{color: #df1515; font-size: 50px;}

.footerBlk{background-color: #3F3F3F; margin: 0px; color: white; text-align: center;}


/* Media Queries */

@media screen and (max-width: 992px){

    .carousel-inner img {
           width: auto;
           height: 750px;
           background-position: center;
     }
 
     .carousel-caption{top: 30%;}

     .carousel-caption h1{
        font-size: 250%;
     }

     .blk {width: auto;}
     .blkHeading {font-size: 40px;}
     .leftBlock, .rightBlock {padding: 5px;margin-top: 20px;}

       h3 {font-size: 100%;}

       .divBtn{ 
        float: none;
        margin-right: 0px;
        margin-top: 20px;
        display: block;
        text-align: center;
      }

 }          

@media screen and (max-width: 576px){ 
  #belowSlider {height: 340px;}

  .footerBlk, .flexBlk{flex-direction: column;}

  .imageBlk img{width: 100%;}

  .rightImg{width: 100%;}
}  
