.floatheader{border-radius: 100%; float: left; margin-right: 20px;}

.floatRight{float: right; border-radius: 30px; margin-left: 20px;}

p{font-size: 20px; line-height: 30px;text-align: justify;}

.floatClass{overflow: auto;border: 5px solid lightblue; padding: 20px;}

header{padding: 10px; background-color: lightblue;overflow: auto;}

body{background-color:whitesmoke;}

