.gradientDiv{
	background-image: linear-gradient(180deg,rgba(0, 255, 236, 0.2),rgba(255, 155, 0, 0.5)),url('https://img.freepik.com/premium-photo/suspension-bridge-travel-nature-scenery-building_1417-264.jpg'); 
	/*background-image: url("https://img.freepik.com/premium-photo/suspension-bridge-travel-nature-scenery-building_1417-264.jpg");
	background-image: linear-gradient(270deg,red,orange);*/
	width: 1000px;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}

.myFonts{
	font-family: Abel,sans-serif;
}

#myIcon{
	color: green;
	font-size: 70px;
}


.myBtn{
	padding: 20px;
	background-color: blueviolet;
	border-radius: 20px;
	font-size: 20px;
	text-decoration: none;
	color: white;
	box-shadow: 2px 2px grey;
}


.myBtn:hover{
	background-color: red;
	text-decoration: underline;
}

.myClass{color: red; font-size: 50px;}

ul li{
	list-style-type: square;
}

h1{text-shadow: 2px 2px lightgrey;}