.heading{text-align:center;color:red;}
#unique{color:green;background-color:#FFD700;}
#heading2{border-top:2px solid lightgreen; border-bottom:4px solid lightblue;}
.para1{background-color:#FAEBD7;}
#p1{color:blue;border-left:10px solid red;}
#p3{color:#FF0000;border:2px solid blue;}