* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.mainheader{
  background-color: #36486b;
  color: white;
  padding: 15px;
  text-align:center;
}

.header {
  background-color: #36486b;
  color: white;
  text-align: center;
  padding: 15px;
}

.footer {
  background-color:#3b3a30;
  color: white;
  padding: 15px;
  clear: both;
}

.topmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 60px;
  background-color: #80ced6;
  
}

.topmenu li {
  float: left;
  padding:20px;
}

.menu {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

li:hover {
  background-color: #222;
}

.active {
  color: white;
  background-color: #618685;
}

.dropdown{position: relative;}

.dropdown-content{
    min-width:160px;
    display:none;
    position:absolute;
    top:60px;
    left: -10px;
    background-color:#80ced6;
}

.dlink {
  color: black;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color:#80ced6;
}

.dlinkhr{color: lightgrey;
  background-color:#80ced6;}

.dlink:hover{background-color:black;color:white}

.dropdown:hover .dropdown-content{
display:block;
}


.container{clear:both;}


.sidemenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.sidemenu li a {
  margin-bottom: 4px;
  display: block;
  padding: 8px;
  background-color: #d5f4e6;
  text-decoration: none;
  color: #666;
}



.sidemenu li a:hover {
  background-color: #555;
  color: white;
}

.sidemenu li .active {
  background-color: #80ced6;
  color: white;
}


.column {
   float: left;
  padding: 15px;
 
}


.sidemenu {
  width: 25%;
}

.content {
  width: 75%;
}


p{text-align: justify; font-size: 20px; line-height: 30px;}

.imgClass{display:block; width:80%; height:500px;margin:auto;}



/* Media Queries  576px, 768px, 992px, 1400px  */

@media screen and (max-width: 768px){

  .sidemenu
  {
    width: 100%;
  }

  .content{width: 100%;}

  .imgClass{height: auto;}

}

