.container1{
	background-color: #FAEBD7;
    padding-bottom: 30px;
}

#heading{
	font-size: 40px;
	font-weight: 700;
	text-align: center;
}

h2,h3{text-align: center;}

body{
	margin: 0px;
}

.insideContainer{
	background-color: #F5DEB3;
	width: 90%;
	margin: auto;
	margin-top: 10px;
}

.insideContent{
	font-size: 18px;
	padding: 20px;
}

.imgDiv{
	width: 400px;
	margin: auto;
}


.imgCircle{
	border-radius: 50%;
	width: 400px;
	height: 400px;
}


.bottomContent{
	width: 800px;
	margin: auto;
	padding: 5px;
	background-color: #B22222;
	text-align: center;
	color: white;
}

.list{
	width: 900px;
	margin: auto;
	font-size: 18px;
}

.container2{
	background-color: #DEB887;
	padding: 30px;

}