.div1{
	background-color: pink;
	width: 300px;
     padding: 30px;
	animation-name:example;
	animation-duration:20s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function: linear;
	animation-delay: 0s;
}


.div1:hover{
      width: 800px;
      transform: rotate(90deg);
      transition: width 5s, transform 5s;
      transition-delay: 2s;
}


@keyframes example{
     

     0%{background-color:lightblue;transform:translate(0px,0px);}   
	30%{background-color:pink;transform:translate(300px,0px);} 
	60%{background-color:yellow;transform:translate(600px,0px);}
	90%{background-color:purple;transform:translate(900px,0px);color:white}
	100%{background-color:green;transform:translate(1200px,0px);color:white;}


}