body{margin: 0px; font-family: Abel,sans-serif;}

.logo{float: left;list-style-type: none;
  padding: 10px;}


.menu{
	    float: right;
    color: white;
    list-style-type: none;
    padding: 50px 10px 10px 10px;
}

uL{
	height: 120px;
	margin: 0px;
  padding-right: 30px;
  background-color: aliceblue;
}

a:hover{background-color:#E7E6E6;text-decoration: underline; border-radius: 10px;}

a{text-decoration: none; color: black; font-size: 20px;padding: 20px; color: #FCAC0C; font-weight: 600;}

/*
.container {
  position: relative;
  background-image:url("https://www.touropia.com/gfx/d/tourist-attractions-in-the-usa/mount_rushmore.jpg?v=1");
  height:500px;
  width:60%;
  margin:auto;
  background-size:cover;
  background-position:center;
  margin-top: 50px;

}

.myClass{
  display: inline-block;
  background-color: lightblue;
  color: red;
  width: 300px;
  height:100px;
  border: 2px solid blue;
}

 
.Txt{
    font-size: 30px;
    background-color: black;
    opacity: 0.7;
    padding: 5px 20px 5px 20px;
    color: white;
} 

.topleft {
  position: absolute;
  top:5px;
  left:0px;
 }

 .topright {
  position: absolute;
  top:5px;
  right:0px;
 }

 .bottomleft {
  position: absolute;
  bottom:5px;
  left:0px;
 }

 .bottomright {
  position: absolute;
  bottom:5px;
  right:0px;
 }

 .centered{
    position: absolute;
  	top: 50%;
    width: 100%;
    text-align: center;
 }

 .sticky{
 	position: sticky;
 	top: 40px;
 	background-color: lightblue;
 	padding: 5px;
 	border: 2px solid red;
 	margin: 10px;
 	z-index: 1;
 }


 .fixed{position: fixed; width: 200px; top:300px;right: 0px; background-color: yellow;}


.div1 {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 50px;
}

.div2 {
  width: 300px;
  height: 100px;  
  padding: 50px;
  border: 1px solid red;
  margin-top: 50px;
  margin-left: 50px;
}

*/