ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height:60px; 
  background-color:black;
}

li {
  float:left;
  padding:20px;
}

a {
  color: white;
  text-align: center;
  text-decoration: none;
}

li:hover {
  background-color: red;
}