

/*  comment */

body{
    font-family: Abel;
    font-size: 20px;
}

#myBtn{
    padding: 20px;
    background-color: blueviolet;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px lightgrey;
}

#myBtn:hover{

    background-color: red;
}
