/*.class1{
	width: 100px;
	height: 100px;
	background-color: yellow;
	padding: 10px;
}


.class1:hover{
  
  padding: 40px;
  width: 300px;
  background-color:  red;
  transform: rotate(120deg);
  transition: width 5s, background-color 5s, transform 5s;
  transition-timing-function: linear;

}

ease, linear, ease-in, ease-out */  

.class1{
	background-color: red;
	width: 100px;
	height: 100px;

	animation-name: example;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	   /* reverse, alternate */
}

@keyframes example{
  
  0%{background-color: red; width: 300px;}
  25%{background-color: blue; width: 600px;}
  50%{background-color: green; width: 900px;}
  75%{background-color: orange; width: 1100px;}
  100%{background-color: purple; width: 1300px;}
}