/* Variabes */
/* Mixin's */
body {
  background: #82d2e5;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
  color: #fff;
  text-align: center;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  text-transform: uppercase;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  text-transform: uppercase;
}


.cardFront{
    display: inline-block;
    position: relative;
    border: 1px solid grey;
    background-image: url("images/background.jpg");
    width: 200px;
    height: 200px;
    margin-right: 100px;
    margin-bottom: 50px;   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.7s;
}

.cardBack{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid grey;
    width: 200px;
    height: 200px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.score{font-weight: 700;font-size: 30px;text-align: center;}

#timer{font-size: 30px;font-weight: 800;margin: 20px;}